[user]
  name = Esther Marie
[init]
  defaultBranch = main
[color]
  ui = true
[core]
  editor = nvim
[alias]
  dt = difftool
  mt = mergetool
  ck = checkout
  br = branch
  st = status
  ca = commit --amend
  cane = commit --amend --no-edit
  ss = stash save
  sa = stash apply
  sp = stash pop
  sd = stash drop
  sl = stash list
  lo = log --oneline
  hist = log --oneline --graph --decorate --all
  last = log -1 HEAD
  undo = reset --soft HEAD~
  unstage = restore --staged
  showfiles = diff --name-only HEAD
  pfl = push --force-with-lease
[fetch]
  prune = true
[pull]
  rebase = true
[rebase]
  autoStash = true
[grep]
  linenumber = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[merge]
  tool = nvimmerge
[mergetool "nvimmerge"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
  keepBackup = false
[mergetool]
  keepBackup = false
